{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'orders/orders.css' %}" />
{% endblock %} {% block title %} Create Order Detail {% endblock %} 
{% block content %}
<div class="row justify-content-md-center">
  <div class="col col-lg-8">
    <form action="/orders/create-order-item/{{order_id}}" method="POST">
        {% csrf_token %}
        <div class="form-group">
        {% for field in form %}
           <div class="form-control">
              {{ field.label_tag}}
              {{ field }}
              {{ field.errors }}
           </div>
        {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
{% endblock %}