{% extends 'base.html' %}
{% load static  %}


{% block css %}
<link rel="stylesheet" href="{% static 'orders/orders.css' %}"/>
{% endblock %}

{% block title %} Order Details {% endblock %}

{% block content %}

<table>
    <tr>
      <th>Order</th>
      <th>Date</th>
      <th>Product</th>
      <th>Store</th>
      <th>Quantity</th>
      <th>Unit Price</th>
    </tr>
    {% for order in order_details %}
    <tr>
       <td>{{ order.order.id }}</a></td>
       <td>{{ order.date_created }}</td>
       <td>{{ order.product.name }}</td>
       <td>{{ order.product.store.name }}</td>
       <td>{{ order.quantity }}</td>
       <td>{{ order.product.price }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td>Totals</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><b>{{ order_total.total_cost }}</b></td>
   </tr>
</table>

{% endblock %}