{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'home.css' %}"/>
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col col-lg-2 col-md-2 col-sm-2">
        <div class="card">
            <div class="card-body">
              <p class="card-text">Orders</p>
            </div>
          </div>
    </div>
    <div class="col col-lg-2 col-md-2 col-sm-2">
        <div class="card">
            <div class="card-body">
              <p class="card-text">Products</p>
            </div>
          </div>
    </div>
    <div class="col col-lg-2 col-md-2 col-sm-2">
        <div class="card">
            <div class="card-body">
              <p class="card-text">Stores</p>
            </div>
          </div>
    </div>
    <div class="col col-lg-2 col-md-2 col-sm-2">
        <div class="card">
            <div class="card-body">
              <p class="card-text">Quantity Types</p>
            </div>
          </div>
    </div>
</div>
{% endblock %}
