{% extends 'base.html' %}
{% load static  %}


{% block css %}
<link rel="stylesheet" href="{% static 'products/products.css' %}"/>
{% endblock %}

{% block title %} Product {% endblock %}

{% block content %}
<div class="row justify-content-md-center">
<div class="col col-lg-8">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity Type</th>
      <th>Quantity</th>
      <th>Store</th>
    </tr>
  </thead>
  <tbody>
    <tr>
       <td>{{ product.name }}</a></td>
       <td>{{ product.price }}</td>
       <td>{{ product.quantity_type }}</td>
       <td>{{ product.quantity }}</td>
       <td>{{ product.store }}</td>
    </tr>
  </tbody>
</table>

</div>
</div>

{% endblock %}