{% extends 'base.html' %} 
{% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'products/products.css' %}" />
{% endblock %} 
{% block title %} 
Quantity Types 
{% endblock %} 
{% block content %}
<div class="row justify-content-md-center">
  <div class="col col-lg-8">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        {% for qt in quantity_types %}
        <tr>
          <td>
            <a class="row-link" href="{% url 'quantity-type' qt.id %}"
              >{{ qt.name }}</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
